:80 {
    encode gzip zstd

    handle /static/* {
        reverse_proxy server:8360
    }

    handle_path /api/* {
        reverse_proxy server:8360
    }

    handle_path /admin/* {
        reverse_proxy server:8360
    }
 # 默认路径转发到管理后台前端
    handle {
       reverse_proxy hioshop-admin:80
    }

    log {
        output stdout
        format console
    }
}
